#about{

.about-heading{
	font-size: 1.4rem;
	font-weight: 300;
    margin-bottom: 2rem;
    padding: 1.5rem 1rem;

    background: rgba(131, 77, 155, 0.09);
    letter-spacing: 2px;
   -webkit-box-shadow: 0px 0px 77px -16px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 77px -16px rgba(0,0,0,0.75);
box-shadow: 0px 0px 77px -16px rgba(0,0,0,0.75);
}


}
.about-info{
	display: grid;
	grid-template-areas:
	'bioimage bio bio'
	'job-1 job-2 job-3';
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	img{
		width: 250px;
		height: 250px;
		border-radius: 200px;
	}
	.bio{
		 margin-top: 2rem;

		h3{
			font-size: 1.4rem;
			text-transform:uppercase;
			letter-spacing: 2px;
			font-weight: 700; 

		}
		p{
			line-height: 2;
		}
	}
}

.bio-image{
	grid-area: bioimage;
	margin: auto;
	border-radius: 50%;
	border: #f85fff 1px solid;
	-webkit-box-shadow: 0px 25px 130px -35px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 25px 130px -35px rgba(0,0,0,0.75);
box-shadow: 0px 25px 130px -35px rgba(0,0,0,0.75);
}
.bio{
	grid-area: bio;
}

.job-1{
	grid-area: job-1;
}
.job-2{
	grid-area: job-2;
}
.job-3{
	grid-area: job-3;
}
.job{
	background: $white;
	color: black;
	padding: 95px 85px 60px;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border-bottom: 5px solid black;
	-webkit-box-shadow: 0px 25px 130px -35px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 25px 130px -35px rgba(0,0,0,0.75);
	box-shadow: 0px 25px 130px -35px rgba(0,0,0,0.75);
	@include easeOut;
 &:hover{
 	  transform: translate3d(12px, 5px, 2px);
 }
	h3{
		font-size: 1.5rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: -1rem;

	}
	h6{
		font-size: .75rem;
		font-weight: 900;
		letter-spacing: 2px;
	}
	p{
		line-height: 2;
	}

	.icons{
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;

			li{
				display: inline-block;
				padding: 10px;
				i{
					font-size: 2rem;

				}
			}
	}
 .job-title{
 	font-weight: 800; 
 	font-size: .75rem;
 	color:rgba(108, 51, 133, 0.85);
 }
}


#main-footer{
	text-align: center;
	padding: 1rem;
	background: darken($purpledream, 10);
	padding: 40px;
	font-weight: 800;
	letter-spacing: 1;
}